<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<form action="/loginProses" method="post">
    <input type="text" name="user" placeholder="masukkan Username"><br>
    <input type="password"  name="pass" placeholder="masukan password"><br>
    <button name="login">Login</button>
</form>
</body>
</html>